<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blood Bank Management System</title>
</head>
<body>
    <h1>Welcome to Blood Bank Management System</h1>
    <nav>
        <ul>
            <li><a th:href="@{/check-availability}">Check Availability</a></li>
            <li><a th:href="@{/donate-blood}">Donate Blood</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/request-blood}">Request Blood</a></li>
        </ul>
    </nav>
    <script th:src="@{/js/home.js}"></script>
</body>
</html>