<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blood Bank Management System</title>
    <script src="src/main/resources/static/js/home.js" defer></script>
</head>
<body>
    <h1>Welcome to the Blood Bank Management System</h1>
    <p>This portal allows you to check blood availability, donate blood, and request blood donations.</p>
    
    <a href="/register">Register</a>
    <a href="/check-availability">Check Blood Availability</a>
    <a href="/request-blood">Request Blood</a>
    <a href="/donate-blood">Donate Blood</a>
</body>
</html>
