<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register - Blood Bank Management System</title>
</head>
<body>
    <h1>User Registration</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
        <div>
            <label for="bloodGroup">Blood Group:</label>
            <select id="bloodGroup" th:field="*{bloodGroup}" required>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" th:field="*{city}" required>
        </div>
        <div>
            <label for="userType">User Type:</label>
            <select id="userType" th:field="*{userType}" required>
                <option value="DONOR">Donor</option>
                <option value="REQUESTOR">Requestor</option>
            </select>
        </div>
        <button type="submit">Register</button>
    </form>
    <script th:src="@{/js/register.js}"></script>
</body>
</html>